In [ ]:
!pip install beautifulsoup4

In [ ]:
!pip install lxml

In [ ]:
from bs4 import BeautifulSoup

In [ ]:
import requests

In [ ]:
url = "https://en.wikipedia.org/wiki/World_population"

In [ ]:
data  = requests.get(url).text

In [ ]:
soup = BeautifulSoup(data,"html5lib")

In [ ]:
#find all html tables in the web page
tables = soup.find_all('table') # in html table is represented by the tag <table>

In [ ]:
len(tables)
# 25 table var

25

In [ ]:
for index,table in enumerate(tables):
    if ("10 most densely populated countries" in str(table)):
        table_index = index
print(table_index)
# bizim aradigimiz table indexi 5

5

In [ ]:
#print(tables[table_index].prettify())

In [ ]:
import pandas as pd
population_data = pd.DataFrame(columns=["Rank", "Country", "Population", "Area", "Density"])

for row in tables[table_index].tbody.find_all("tr"):
    col = row.find_all("td")
    if (col != []):
        rank = col[0].text
        country = col[1].text
        population = col[2].text.strip()
        area = col[3].text.strip()
        density = col[4].text.strip()
        population_data = population_data.append({"Rank":rank, "Country":country, "Population":population, "Area":area, "Density":density}, ignore_index=True)

population_data

  Rank       Country     Population       Area Density
0    1     Singapore      5,704,000        710   8,033
1    2    Bangladesh    170,250,000    143,998   1,182
2    3       Lebanon      6,856,000     10,452     656
3    4        Taiwan     23,604,000     36,193     652
4    5   South Korea     51,781,000     99,538     520
5    6        Rwanda     12,374,000     26,338     470
6    7         Haiti     11,578,000     27,065     428
7    8   Netherlands     17,570,000     41,526     423
8    9        Israel      9,320,000     22,072     422
9   10         India  1,373,980,000  3,287,240     418

In [ ]:
#Countries ranking highly in both total population

In [ ]:
for index,table in enumerate(tables):
    if ("Countries ranking highly in both total population" in str(table)):
        table2_index = index
print(table2_index)
# bizim aradigimiz table indexi 5

6

In [ ]:
#print(tables[table2_index].prettify())

In [ ]:
population2_data = pd.DataFrame(columns=["Rank", "Country", "Population", "Area", "Density", "Population trend"])

for row in tables[table2_index].tbody.find_all("tr"):
    col = row.find_all("td")
    if (col != []):
        rank = col[0].text
        country = col[1].text
        population = col[2].text.strip()
        area = col[3].text.strip()
        density = col[4].text.strip()
        pop_trend=col[5].text.strip()
        population2_data = population2_data.append({"Rank":rank, "Country":country, "Population":population, "Area":area, "Density":density, "Population trend":pop_trend }, ignore_index=True)

population2_data

  Rank          Country     Population       Area Density Population trend
0    1            India  1,373,980,000  3,287,240     418          Growing
1    2         Pakistan    222,820,000    803,940     277          Growing
2    3       Bangladesh    170,250,000    143,998   1,182  Rapidly growing
3    4            Japan    126,010,000    377,873     333    Declining[98]
4    5      Philippines    109,900,000    300,000     366          Growing
5    6          Vietnam     96,209,000    331,689     290          Growing
6    7   United Kingdom     66,436,000    243,610     273           Steady
7    8      South Korea     51,781,000     99,538     520           Steady
8    9           Taiwan     23,604,000     36,193     652           Steady
9   10        Sri Lanka     21,803,000     65,610     332          Growing

In [ ]:
population2_data

  Rank          Country     Population       Area Density Population trend
0    1            India  1,373,980,000  3,287,240     418          Growing
1    2         Pakistan    222,820,000    803,940     277          Growing
2    3       Bangladesh    170,250,000    143,998   1,182  Rapidly growing
3    4            Japan    126,010,000    377,873     333    Declining[98]
4    5      Philippines    109,900,000    300,000     366          Growing
5    6          Vietnam     96,209,000    331,689     290          Growing
6    7   United Kingdom     66,436,000    243,610     273           Steady
7    8      South Korea     51,781,000     99,538     520           Steady
8    9           Taiwan     23,604,000     36,193     652           Steady
9   10        Sri Lanka     21,803,000     65,610     332          Growing

In [ ]:
population2_data.index.name = None

In [ ]:
population2_data

In [ ]:
html='https://en.wikipedia.org/wiki/The_Numbers_Band'
band  = requests.get(html).text
soup2=BeautifulSoup(band, 'html5lib')

In [ ]:
uls=soup2.find_all('ul')[3]
print(uls)

<ul><li><a href="/wiki/Chris_Butler_(musician)" title="Chris Butler (musician)">Chris Butler</a> (bass)</li>
<li>Hank Smith (guitar, keyboards)</li>
<li>Greg Colbert (bass)</li>
<li>Tim Hudson (drums)</li>
<li>Michael Bubnow (guitar, bass)</li>
<li><a href="/wiki/Gerald_Casale" title="Gerald Casale">Gerald Casale</a> (bass)</li>
<li><a class="mw-redirect" href="/wiki/Rod_Reisman" title="Rod Reisman">Rod Reisman</a> (drums)</li>
<li>Tim Maglione (sax)</li>
<li>David Robinson (drums)</li>
<li>Drake Gleason (bass)</li>
<li>Jay Brown (drums)</li>
<li>Michael Stacey (guitar)</li>
<li>Bart Johnson (bass)</li>
<li>Fred Tribuzzo (bass)</li>
<li>Frank Reynolds (bass)</li>
<li>Frank Casamento (drums)</li></ul>

In [ ]:
import pandas as pd
bands_data = pd.DataFrame(columns=["Artist"])

for row in uls.find_all("li"):

        
        artist = row.text.strip()
        
        bands_data = bands_data.append({"Artist":artist}, ignore_index=True)

bands_data

                            Artist
0              Chris Butler (bass)
1   Hank Smith (guitar, keyboards)
2              Greg Colbert (bass)
3               Tim Hudson (drums)
4    Michael Bubnow (guitar, bass)
5             Gerald Casale (bass)
6              Rod Reisman (drums)
7               Tim Maglione (sax)
8           David Robinson (drums)
9             Drake Gleason (bass)
10               Jay Brown (drums)
11         Michael Stacey (guitar)
12             Bart Johnson (bass)
13            Fred Tribuzzo (bass)
14           Frank Reynolds (bass)
15         Frank Casamento (drums)

In [ ]:
mus_list = bands_data["Artist"].tolist() 
mus_list

['Chris Butler (bass)',
 'Hank Smith (guitar, keyboards)',
 'Greg Colbert (bass)',
 'Tim Hudson (drums)',
 'Michael Bubnow (guitar, bass)',
 'Gerald Casale (bass)',
 'Rod Reisman (drums)',
 'Tim Maglione (sax)',
 'David Robinson (drums)',
 'Drake Gleason (bass)',
 'Jay Brown (drums)',
 'Michael Stacey (guitar)',
 'Bart Johnson (bass)',
 'Fred Tribuzzo (bass)',
 'Frank Reynolds (bass)',
 'Frank Casamento (drums)']

In [ ]:
import re
c=[]
for i in mus_list:
    x=re.sub("[\(\[].*?[\)\]]", "", i)
    c.append(x)
c

['Chris Butler ',
 'Hank Smith ',
 'Greg Colbert ',
 'Tim Hudson ',
 'Michael Bubnow ',
 'Gerald Casale ',
 'Rod Reisman ',
 'Tim Maglione ',
 'David Robinson ',
 'Drake Gleason ',
 'Jay Brown ',
 'Michael Stacey ',
 'Bart Johnson ',
 'Fred Tribuzzo ',
 'Frank Reynolds ',
 'Frank Casamento ']

In [ ]:
for i in mus_list:
    print(i[-1:''])

TypeError: slice indices must be integers or None or have an __index__ method

In [ ]:
bands_data2=bands_data.copy()
bands_data2

                            Artist
0              Chris Butler (bass)
1   Hank Smith (guitar, keyboards)
2              Greg Colbert (bass)
3               Tim Hudson (drums)
4    Michael Bubnow (guitar, bass)
5             Gerald Casale (bass)
6              Rod Reisman (drums)
7               Tim Maglione (sax)
8           David Robinson (drums)
9             Drake Gleason (bass)
10               Jay Brown (drums)
11         Michael Stacey (guitar)
12             Bart Johnson (bass)
13            Fred Tribuzzo (bass)
14           Frank Reynolds (bass)
15         Frank Casamento (drums)

In [ ]:
for column in bands_data2.columns:
    bands_data2[column] = bands_data2[column].str.replace(r"\(.*\)", "")
bands_data2

              Artist
0      Chris Butler
1        Hank Smith
2      Greg Colbert
3        Tim Hudson
4    Michael Bubnow
5     Gerald Casale
6       Rod Reisman
7      Tim Maglione
8    David Robinson
9     Drake Gleason
10        Jay Brown
11   Michael Stacey
12     Bart Johnson
13    Fred Tribuzzo
14   Frank Reynolds
15  Frank Casamento

In [ ]:
d=[]
for i in mus_list:
    s = re.findall('(?<=\().+?(?=\))', i)
    d.append(s)
d

[['bass'],
 ['guitar, keyboards'],
 ['bass'],
 ['drums'],
 ['guitar, bass'],
 ['bass'],
 ['drums'],
 ['sax'],
 ['drums'],
 ['bass'],
 ['drums'],
 ['guitar'],
 ['bass'],
 ['bass'],
 ['bass'],
 ['drums']]

In [ ]:
import numpy as np
bands_data['Tool'] = np.asarray(d).flatten()
bands_data

                            Artist            Artists               Tool
0              Chris Butler (bass)               bass               bass
1   Hank Smith (guitar, keyboards)  guitar, keyboards  guitar, keyboards
2              Greg Colbert (bass)               bass               bass
3               Tim Hudson (drums)              drums              drums
4    Michael Bubnow (guitar, bass)       guitar, bass       guitar, bass
5             Gerald Casale (bass)               bass               bass
6              Rod Reisman (drums)              drums              drums
7               Tim Maglione (sax)                sax                sax
8           David Robinson (drums)              drums              drums
9             Drake Gleason (bass)               bass               bass
10               Jay Brown (drums)              drums              drums
11         Michael Stacey (guitar)             guitar             guitar
12             Bart Johnson (bass)               bass               bass
13            Fred Tribuzzo (bass)               bass               bass
14           Frank Reynolds (bass)               bass               bass
15         Frank Casamento (drums)              drums              drums

In [ ]:
bands_data=bands_data.drop(['Artists'], axis=1)
bands_data

                            Artist               Tool
0              Chris Butler (bass)               bass
1   Hank Smith (guitar, keyboards)  guitar, keyboards
2              Greg Colbert (bass)               bass
3               Tim Hudson (drums)              drums
4    Michael Bubnow (guitar, bass)       guitar, bass
5             Gerald Casale (bass)               bass
6              Rod Reisman (drums)              drums
7               Tim Maglione (sax)                sax
8           David Robinson (drums)              drums
9             Drake Gleason (bass)               bass
10               Jay Brown (drums)              drums
11         Michael Stacey (guitar)             guitar
12             Bart Johnson (bass)               bass
13            Fred Tribuzzo (bass)               bass
14           Frank Reynolds (bass)               bass
15         Frank Casamento (drums)              drums

In [ ]:
for column in bands_data.columns:
    bands_data[column] = bands_data[column].str.replace(r"\(.*\)", "")
bands_data

              Artist               Tool
0      Chris Butler                bass
1        Hank Smith   guitar, keyboards
2      Greg Colbert                bass
3        Tim Hudson               drums
4    Michael Bubnow        guitar, bass
5     Gerald Casale                bass
6       Rod Reisman               drums
7      Tim Maglione                 sax
8    David Robinson               drums
9     Drake Gleason                bass
10        Jay Brown               drums
11   Michael Stacey              guitar
12     Bart Johnson                bass
13    Fred Tribuzzo                bass
14   Frank Reynolds                bass
15  Frank Casamento               drums